@import url("../../../app/styles/theme-colors.css");
@import url("../../../app/styles/base-params.css");

.main{
  margin: 20px 0;
}

.button{
  min-width: 80px;
  min-height: 40px;
  border: none;
  outline: none;
  border-radius: 5px;
  border-bottom: 3px solid var(--color2);
  background-color: var(--color5);
  color: var(--color1);
  font-size: var(--def-font-size);
  transition: transform 0.1s, background-color 0.08s;
}

.button:hover{
  cursor: pointer;
  background-color: var(--color2);
  color: var(--color3);
  transform: scale(1.05);
}

.button:active{
  border-radius: 5px;
  border-bottom: 3px solid var(--color2);
  background-color: var(--color5);
  color: var(--color1);
}

.disable{
  opacity: 0.5;
  background-color: var(--disable-control-bg);
  transition: none;
}

.disable:hover{
  cursor: default;
  opacity: 0.5;
  background-color: var(--disable-control-bg);
  color: var(--color1);
  transform: none;
}

.disable:active{
  cursor: default;
  opacity: 0.5;
  background-color: var(--disable-control-bg);
  color: var(--color1);
  transform: none;
}