@import url("../../../app/styles/base-params.css");

.main{
  display: flex;
}

.label{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.label:hover{
  cursor: pointer;
}

.top{

}

.right{
  flex-direction: row-reverse;
  align-items: center;
}

.bottom{
  flex-direction: column-reverse;
}

.left{
  flex-direction: row;
  align-items: center;
}