@import url("../../../app/styles/base-params.css");

.div{
  width: 1000px;
  display: flex;
  justify-content: center;
}

.colorDemo{
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  min-height: 200px;
}

.textColor1 > h1{
  color: var(--сolor-def-1);
}

.textColor2 > h1{
  color: var(--сolor-def-2);
}


.color1{
  background-color: var(--color-1);
}

.color2{
  background-color: var(--color-2);
}

.color3{
  background-color: var(--color-3);
}

.color4{
  background-color: var(--color-4);
}

.color5{
  background-color: var(--color-5);
}