@import url("normalize.css");
@import url("theme-colors.css");
@import url("base-params.css");

*::selection {
  background-color: var(--color5);
}

html{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: var(--def-font-size);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color3);
  color: var(--color1);
}

#root{
  display: flex;
  justify-content: center;
  min-width: 100%;
  min-height: 100%;
}