@import url("../../../app/styles/theme-colors.css");

.div{
  width: 1000px;
  display: flex;
  justify-content: center;
}

.colorDemo{
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  min-height: 200px;
}

.textColor1{
  color: var(--text-сolor1);
}

.textColor2{
  color: var(--text-сolor2);
}


.color1{
  background-color: var(--color1);
}

.color2{
  background-color: var(--color2);
}

.color3{
  background-color: var(--color3);
}

.color4{
  background-color: var(--color4);
}

.color5{
  background-color: var(--color5);
}