:root
	--base-color: #010104
	--light-color: #282162
	--low-priority-color: #282162
	--primary-color: #282162
	--secondary-color: #282162
	--dark-color: #282162
	--section-bg: #282162
	--darrk-bg: #282162
	--icon-color: none
	--button-radius: 5px
	--text-shadow-button: 2px 2px 4px var(--primary-color)
	--box-shadow-button: 0px 0px 3px var(--primary-color)
	--text-shadow-title: 1px 1px var(--low-priority-color), 2px 2px var(--low-priority-color)
	--text-shadow-big: 1px 1px var(--low-priority-color), 2px 2px var(--low-priority-color), 3px 3px var(--low-priority-color), 4px 4px var(--low-priority-color), 5px 5px var(--low-priority-color), 6px 6px var(--low-priority-color), 7px 7px 2px var(--low-priority-color)
	--text-shadow-nav: 1px 1px var(--low-priority-color), 2px 2px var(--low-priority-color), 3px 3px var(--low-priority-color), 4px 4px var(--low-priority-color)
	--section-pattern: linear-gradient(63deg, rgba(100, 100, 100, .05) 23%, transparent 23%) 7px 0, linear-gradient(63deg, transparent 74%, rgba(100, 100, 100, .05) 78%), linear-gradient(63deg, transparent 34%, rgba(100, 100, 100, .05) 38%, rgba(100, 100, 100, .05) 58%, transparent 62%), rgba(100, 100, 100, .05)
	--section-pattern-size: 16px 48px

@media only screen and (max-width : 768px)
.animated
	-o-transition-property: none !important
	-moz-transition-property: none !important
	-ms-transition-property: none !important
	-webkit-transition-property: none !important
	transition-property: none !important
	-o-transform: none !important
	-moz-transform: none !important
	-ms-transform: none !important
	-webkit-transform: none !important
	transform: none !important
	-webkit-animation: none !important
	-moz-animation: none !important
	-o-animation: none !important
	-ms-animation: none !important
	animation: none !important

// tricks start

.svg-hover-fix
	position: relative
	&::before
		content: ''
		position: absolute
		left: 0
		top: 0
		width: 100%
		height: 100%
		&:hover
			cursor: pointer

// tricks end

// base start

*, *:after, *:before
	box-sizing: border-box

body
	overflow-x: hidden

h1, h2, h3, h4, h5, a, p, span
	margin: 0
	padding: 0
	color: var(--base-color)
	&::selection
		background: var(--low-priority-color)

a
	text-decoration: none

h2
	font-size: 32px
	text-shadow: var(--text-shadow-title)
	@media screen and (max-width : 900px)
		font-size: 24px

.view-grid
	min-width: 320px
	max-width: 1080px
	margin: 0 auto
	padding: 0 20px

section
	position: relative
	padding: 100px 0
	background: var(--section-pattern)
	background-size: var(--section-pattern-size)

.section_wave
	position: absolute
	left: -150%
	z-index: 2
	width: 300%
	height: 50px
	&--top
		bottom: 0px
	&--bottom
		top: -4px
		transform: rotate(180deg)
	svg
		animation: move-section 10s linear infinite
		width: 100%
		height: 100%

// base end

// animation start

@keyframes move-section
	from
		transform: translate(300px, 0%)
	to
		transform: translate(-300px, 0%)

// animation end

// elemets start

.button
	display: flex
	justify-content: center
	align-content: center
	align-items: center
	max-width: 150px
	width: 100%
	min-height: 48px
	gap: 6px
	background-color: var(--section-bg)
	border-radius: var(--button-radius)
	border: solid 2px var(--primary-color)
	text-decoration: none
	transition: background .3s ease-out
	text-shadow: var(--text-shadow-button)
	box-shadow: var(--box-shadow-button)
	&--max-wigth
		max-width: none
		width: 100%
	&:hover
		cursor: pointer
		background-color: var(--primary-color)
	&:active
		opacity: 0.8
	&__text
		color: var(--base-color)
	&__link
		text-decoration: none
		color: var(--base-color)
	&__icon
		width: 20px
		height: 20px
		filter: var(--icon-color)
	&--disabled
		opacity: .5
		background-color: transparent
		&:hover
			cursor: no-drop
			background-color: transparent
		&:active
			cursor: no-drop
			background-color: transparent
	@media screen and (max-width : 900px)
		font-size: 16px
		// &:hover
		// &:active
		&__text
			font-size: 16px
		&__link
			font-size: 16px
		// &__icon

.page
	min-width: 320px
	overflow: auto
	width: 100%
	height: 100%
	&__body
		margin: 0 auto
		font-family: Poppins, Arial, "Helvetica Neue", Helvetica, sans-serif
		font-size: 18px
		font-weight: 500
		font-stretch: normal
		font-style: normal
		line-height: normal
		letter-spacing: normal
		text-align: left
		color: var(--base-color)
		background-color: var(--darrk-bg)
	&__header
		width: 100%
		height: 80px
		background-color: var(--darrk-bg)
	// &__main
	// &__footer
	@media screen and (max-width : 900px)
		&__body
			font-size: 16px

.header
	position: relative
	&__wrap
		width: 100%
		height: 100%
		display: flex
		justify-content: space-between

// hamburger start

.hamburger
	position: absolute
	top: 50%
	right: 10px
	display: none
	transform: translateY(-50%)
	&:hover
		cursor: pointer
	@media screen and (max-width : 650px)
		display: block
	div
		position: relative
		width: 3em
		height: 7px
		border-radius: 3px
		background-color: var(--primary-color)
		margin-top: 8px
		transition: all 0.3s ease-in-out

#hamburger-toggle
	display: none
	&:checked + .hamburger .hamburger__item--top
		transform: rotate(-45deg)
		margin-top: 25px
	&:checked + .hamburger .hamburger__item--bottom
		opacity: 0
		transform: rotate(45deg)
	&:checked + .hamburger .hamburger__item--meat
		transform: rotate(45deg)
		margin-top: -7px

#hamburger-toggle:checked + .hamburger + .header__wrap .nav
	display: flex

// hamburger end

.logo
	display: flex
	align-self: center
	&__link
		text-decoration: none
		font-size: 40px
		font-weight: 600
		color: var(--primary-color)
		text-shadow: var(--text-shadow-big)

.nav
	z-index: 3
	display: flex
	&__list
		display: flex
		align-self: center
		flex-wrap: wrap
		gap: 50px
		list-style-type: none
		@media screen and (max-width : 900px)
			gap: 20px
		@media screen and (max-width : 650px)
			display: block
			width: 100%
	&__item
		&:hover
			transform: scale(1.1)
			transition: transform .1s ease-out
		&--active
			.nav__link
				color: var(--primary-color)
		@media screen and (max-width : 650px)
			margin-bottom: 20px
			text-align: center
	&__link
		font-weight: 600
		text-decoration: none
		text-shadow: var(--text-shadow-nav)
		transition: color .1s ease-out
		&:hover
			color: var(--primary-color)
		&:active
			color: var(--primary-color)
		@media screen and (max-width : 650px)
			font-size: 30px
	@media screen and (max-width : 650px)
		position: absolute
		left: 0
		top: 80px
		display: none
		width: 100%
		height: auto
		padding: 30px
		background-color: var(--darrk-bg)

// Hello start

.hello
	display: flex
	align-items: end
	overflow: hidden
	padding-top: 100px
	background-color: var(--section-bg)
	&--mini
		padding: 20px
		.hello__wrap
			display: flex
		.hello__inner
			margin: 0
		.hello__description
			margin: 0
		.hello__inner--second
			display: flex
			justify-content: center
			align-items: center
	&__wrap
		display: grid
		grid-template-columns: 1fr 1fr
		width: 100%
	&__inner
		width: 100%
		margin-bottom: 50px
		&--first
			z-index: 2
		&--second
			z-index: 1
	&__title
		margin-bottom: 5px
		font-size: 28px
		font-weight: 600
	&__main-title
		margin-bottom: 10px
		font-size: 52px
		font-weight: 600
		color: var(--light-color)
	&__description
		max-width: 430px
		margin-bottom: 30px
	&__button-wrap
		display: flex
		gap: 30px
	&__button
		min-width: 150px
	@media screen and (max-width : 900px)
		padding-top: 80px
		&__title
			font-size: 24px
		&__main-title
			font-size: 35px
		&__description
			font-size: 16px
	@media screen and (max-width : 650px)
		padding-top: 50px
		margin-bottom: 20px
		&__wrap
			grid-template-columns: 1fr
		&__inner--second
			display: none
		&__button-wrap
			flex-wrap: wrap
		&__button
			width: 120px
	.section_wave
		height: 20px

.author
	position: relative
	z-index: 1
	&__ellipse
		position: absolute
		right: 0
		top: -20px
		width: 486px
		height: 486px
		border-radius: 50%
		background: var(--primary-color)
	&__img
		max-width: 450px
		position: absolute
		left: 40px
		top: -70px

// Hello end

// contact start

.contact
	background-color: var(--section-bg)
	&__wrap
		display: grid
		grid-template-columns: 1fr 1fr
		width: 100%
	// &__inner
	// &__soc
	// &__form
	@media screen and (max-width : 800px)
		&__wrap
			grid-template-columns: 1fr
			gap: 40px
.soc
	&__title
		margin-bottom: 15px
		font-weight: 600
		color: var(--primary-color)
	&__description
		margin-bottom: 5px
	&__icons
		display: flex
		gap: 15px
		filter: var(--icon-color)
	@media screen and (max-width : 800px)
		&__description
			margin-bottom: 5px
	.icons
		&__link
			display: flex
			justify-content: center
			align-content: center
			&:last-child .icons__image
				width: 47px
		&__image
			width: 55px

.form
	opacity: .2
	&__title
		margin-bottom: 25px
		font-size: 24px
	&__input
		max-width: 472px
		width: 100%
		height: 62px
		margin-bottom: 15px
		padding: 15px 20px
		border: none
		border-radius: 8px
		background-color: var(--low-priority-color)
		color: var(--base-color)
		&::placeholder
			font-size: 17px
			color: var(--base-color)
	&__button
		font-size: 17px
	@media screen and (max-width : 800px)
		&__title
			margin-bottom: 10px
			font-size: 20px

// contact end

// footer start

.footer
	padding-top: 50px
	padding-bottom: 50px
	&__list
		display: flex
		justify-content: center
		gap: 60px
		margin-bottom: 30px
	&__item
		min-width: 100px
		opacity: 0.5
		font-size: 16px
	&__soc
		display: flex
		justify-content: center
	@media screen and (max-width : 750px)
		gap: 30px
		&__links
			flex-wrap: wrap
			row-gap: 10px
			margin-bottom: 30px

// .soc
// 	&__icons

// .icons
// 	&__image

// footer end
