@import url("../../styles/theme-colors.css");

.div{
  width: 1000px;
  display: flex;
  justify-content: center;
}

.color1, .color2,
.color3, .color4,
.color5 {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  min-height: 200px;
}

.color1{
  background-color: var(--color1);
}

.color2{
  background-color: var(--color2);
}

.color3{
  background-color: var(--color3);
}

.color4{
  background-color: var(--color4);
}

.color5{
  background-color: var(--color5);
}