@import "../base"

// About start

.about
	padding: 50px 0
	margin-bottom: 40px
	background: var(--section-bg)
	// &__wrap
	&__title
		margin-bottom: 5px
		font-weight: 600
		color: var(--primary-color)
	&__description
		margin-bottom: 40px
	@media screen and (max-width : 900px)
		&__description
			font-size: 16px

.skills
	display: flex
	flex-wrap: wrap
	&__experiens
		margin-bottom: 50px

.experiens
	display: flex
	align-items: center
	width: 100%
	padding: 50px 0
	gap: 20px
	&__time
		font-size: 96px
		font-weight: 600
		line-height: 0
		color: var(--primary-color)
		@media screen and (max-width : 900px)
			font-size: 55px
	&__description
		font-size: 24px
	@media screen and (max-width : 900px)
		&__description
			font-size: 16px

.card-list
	display: grid
	grid-template-columns: 1fr 1fr 1fr
	gap: 20px
	width: 100%
	&__item
		display: flex
		width: 100%
		flex-direction: column
		padding: 10px
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2)
		background-color: var(--low-priority-color)
		&:hover
			cursor: pointer
			background-color: var(--primary-color)
	&__title
		font-size: 20px
		font-weight: 600
	&__icon
		filter: var(--icon-color)
	@media screen and (max-width : 1080px)
		grid-template-columns: 1fr 1fr
		gap: 10px
		justify-content: space-around
		&__item
			width: auto
			height: auto
	@media screen and (max-width : 900px)
		&__title
			font-size: 14px
	@media screen and (max-width : 550px)
		&__item
			min-height: 100px
	@media screen and (max-width : 450px)
		grid-template-columns: 1fr

// aboud end

// services start

.services
	padding-top: 80px
	padding-bottom: 50px
	margin-bottom: 50px
	background: var(--section-bg)
	// &__wrap
	&__title
		margin-bottom: 30px
		font-weight: 600
		color: var(--primary-color)

.services-card
	display: grid
	grid-template-columns: repeat(5, 1fr)
	width: 100%
	gap: 20px
	padding-bottom: 50px
	&__item
		position: relative
		display: flex
		flex-direction: column
		align-items: left
		min-height: 120px
		padding: 10px
		border-radius: 16px
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2)
		border: solid 3px var(--light-color)
		&:hover
			cursor: pointer
			border-color: var(--primary-color)
			.services-card__title
				color: var(--primary-color)
	&__icon
		position: absolute
		left: 10px
		top: 10px
		width: 40px
		margin-bottom: 10px
		filter: var(--icon-color)
	&__title
		margin-bottom: 20px
		padding-left: 50px
		text-align: left
		font-size: 20px
		font-weight: 600
		transform: translateY(8px)
	&__description
		margin-left: 2px
		font-size: 17px
	@media screen and (max-width : 900px)
		grid-template-columns: 1fr 1fr
		&__title
			font-size: 18px
		&__description
			font-size: 16px
		&__item
			padding: 15px
	@media screen and (max-width : 550px)
		grid-template-columns: 1fr
		&__item
			padding: 10px

// services end
