@import url("../../../app/styles/base-params.css");

.main{
}

.button{
  min-width: 80px;
  min-height: 40px;
  border: none;
  outline: none;
  border-radius: 5px;
  border-bottom: 3px solid var(--color2);
  background-color: var(--color5);
  color: var(--text-сolor2);
  font-size: var(--def-font-size);
  transition: transform 0.1s, background-color 0.08s;
}

.button:hover{
  cursor: pointer;
  background-color: var(--color2);
  color: var(--color3);
  transform: scale(1.05);
}

.button:active{
  border-radius: 5px;
  border-bottom: 3px solid var(--color2);
  background-color: var(--color5);
  color: var(--text-сolor2);
}

.buttonDisabled{
  opacity: 0.5;
  background-color: var(--disable-control-bg);
  color: var(--text-сolor1);
  transition: none;
}

.buttonDisabled:hover{
  cursor: default;
  opacity: 0.5;
  background-color: var(--disable-control-bg);
  color: var(--text-сolor1);
  transform: none;
}

.buttonDisabled:active{
  cursor: default;
  opacity: 0.5;
  background-color: var(--disable-control-bg);
  color: var(--text-сolor1);
  transform: none;
}